li {
    list-style: none
}

/* .cardlist-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(241,183,185, 0.4);
    border-style: solid;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 50vw;
    margin: 0 auto;
}

.cards-list-div {
    width: 85%
}

.cards-holder {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
} */

.cards-holder {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
