li {
    list-style: none
}

.cardlist-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(241,183,185, 0.4);
    border-style: solid;
    border-radius: 20px;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
}

.cards-holder {
    display: flex;
}
