.card-container {
    border: 1px black solid;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    /* flex-basis: 0; */
}

.card-message {
    font-weight: bold;
    font-size: 1.25rem;
}
