body {
  margin: 3rem;
  font-family: 'Poppins', sans-serif;
  background-color: #FEEAEA;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  align-self: center;
  font-weight: bold;
  font-size: 4em;
}

#header-text {
  padding: 10px;
  background: white;
  text-shadow: 2px 0px 2px #CCCCCC, 1px 1px 2px #EEEEEE, 3px 1px 2px #CCCCCC, 2px 2px 2px #EEEEEE, 4px 2px 2px #CCCCCC, 3px 3px 2px #EEEEEE, 5px 3px 2px #CCCCCC, 4px 4px 2px #EEEEEE, 6px 4px 2px #CCCCCC, 5px 5px 2px #EEEEEE, 6px 5px 2px #CCCCCC, 6px 6px 2px #EEEEEE, 8px 6px 2px #CCCCCC;
  color: #444444;
  background: white;
}

.main_container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  flex: 0 1 auto;
}

.board_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}